src/introspect2.py
src/introspect.py
src/transfer2.py
src/transfer_new.py
src/transfer_demo.py
src/.tmp*
src/.last*
src/.curr*
src/.all_processed_filepaths
src/*.flag

src/archive
src/logs
src/__pycache__

test_globus_flow/definition.json

testing_data/
slurm_output/