astropy
astropy-iers-data
contourpy
cycler
dill
fonttools
globus-compute-common
globus-compute-sdk
globus-sdk
idna
kiwisolver
matplotlib
numpy
packaging
pika
pillow
PyYAML
requests
six
tblib
texttable
tqdm
typing_extensions
urllib3
watchdog
websockets
